

.navbar h1 {
    color: white;
}

form.search button {
    background: #2196F3;
    color: white;
    padding: 10px;
    border: 1px solid lightblue;
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

img {
    display: block;
    max-width: 50%;
    height: auto;
}

ul {
    list-style: none;
}

.search-form form {
    position: relative;
    padding: 5px 5px 10px;
}

.locations-section {
    margin: 50px 0 20px;
}

.locations-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
}

/* Custom here */

.locations-section .city {
    position: relative;
    padding: 20px 10%;
    border-radius: 20px;
    background: #3895D3;
    color: white;
}

.locations-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
}

.locations-section .city-temp {
    font-size: 10px;
}

.locations-section .city-humidity {
    font-size: 10px;
}

.locations-section .city-wind-speed {
    font-size: 10px;
}

.locations-section .city-UV-index {
    font-size: 10px;
}

.locations-section .city sup {
    font-size: 10px;
}

.locations-section .city-names sup {
   padding: 5px 10px;
   border-radius: 30px;
   color: white;
}

.locations-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}




@media screen and (max-width: 700px) {
    .search-form form {
        flex-direction: column;
    }

    .search-form form button {
        width: 10%;
    }
}

@media screen and (max-width: 1000px) {
    .locations-section .cities {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .locations-section .cities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .locations-section .cities {
        grid-template-columns: repeat(1, 1fr);
    }
}
